@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    border: 0;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}
button{
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: #ddd;
}

body{
    font-family: 'Nanum Barun Gothic','Malgun Gothic',sans-serif;
    color: #333;
    font-size: 16px;
    /*letter-spacing: -0.1px;*/
}